.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  text-decoration: none;
  color: #141414;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}

.header-menu li a {
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 1.2rem;
  position: relative;
}

.header-menu li a:hover {
  color: #8700e8;
}

.header-menu li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #8700e8;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.5s;
}

.header-menu li a:hover::after {
  width: 100%;
}
